body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: rgb(0, 1, 69);
}
ol,
ul {
  padding-left: 30px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.game-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 5px;
}
.status {
  margin-bottom: 10px;
}
.square {
  background: #fff;
  border: 2px solid rgb(0, 2, 115);
  color: rgb(0, 1, 69);
  float: left;
  font-size: 42px;
  font-weight: 530;
  line-height: 34px;
  height: 75px;
  width: 75px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
}
/* .square-active {
  background: rgb(255, 249, 66);
} */
.square:focus {
  background: rgba(255, 253, 148, 0.515);
  border: 2px solid rgb(115, 107, 0);
  outline: none;
}
.kbd-navigation .square:focus {
  background: rgb(132, 171, 255);
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}
.clock {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.tick-time {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  body {
      font: 50px "Century Gothic", Futura, sans-serif;
      margin: 20px;
  }    
  button {
      font-size: 42px;
  }
  .game-title {
      font-size: 114px;
      margin-bottom: 20px;
  }
  .status {
      margin-bottom: 20px;
  }
  .square {
      font-size: 150px;
      font-weight: 500;
      height: 200px;
      width: 200px;
  }
}